 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ffffff, #adf6f2);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 963px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 20px;
  margin-top: 122px;
}

.u-section-1 .u-repeater-1 {
  min-height: 735px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 14px;
}

.u-section-1 .u-image-1 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-2 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-4 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-3 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-6 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-4 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-8 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-5 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-10 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-6 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-12 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-7 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-14 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-8 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-16 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-9 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-18 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px 3px;
}

.u-section-1 .u-image-10 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-20 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 660px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    width: 660px;
  }

  .u-section-1 .u-text-5 {
    width: 660px;
  }

  .u-section-1 .u-text-7 {
    width: 660px;
  }

  .u-section-1 .u-text-9 {
    width: 660px;
  }

  .u-section-1 .u-text-11 {
    width: 660px;
  }

  .u-section-1 .u-text-13 {
    width: 660px;
  }

  .u-section-1 .u-text-15 {
    width: 660px;
  }

  .u-section-1 .u-text-17 {
    width: 660px;
  }

  .u-section-1 .u-text-19 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: 520px;
  }

  .u-section-1 .u-text-4 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: 520px;
  }

  .u-section-1 .u-text-6 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    width: 520px;
  }

  .u-section-1 .u-text-8 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    width: 520px;
  }

  .u-section-1 .u-text-10 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    width: 520px;
  }

  .u-section-1 .u-text-12 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    width: 520px;
  }

  .u-section-1 .u-text-14 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    width: 520px;
  }

  .u-section-1 .u-text-16 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    width: 520px;
  }

  .u-section-1 .u-text-18 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-19 {
    width: 520px;
  }

  .u-section-1 .u-text-20 {
    width: 520px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    min-height: 543px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-1 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-2 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-3 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-4 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-5 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-6 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-7 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-8 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-9 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-9 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 12px 0;
  }

  .u-section-1 .u-image-10 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-19 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-20 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #478ac9, #425465);
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 841px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 20px;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 735px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 14px;
}

.u-section-2 .u-image-1 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-2 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-2 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-4 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-3 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-6 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-4 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-8 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-5 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-10 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-6 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-12 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-7 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-14 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-8 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-16 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-9 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-18 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 30px 3px;
}

.u-section-2 .u-image-10 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-20 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-2 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 660px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    width: 660px;
  }

  .u-section-2 .u-text-5 {
    width: 660px;
  }

  .u-section-2 .u-text-7 {
    width: 660px;
  }

  .u-section-2 .u-text-9 {
    width: 660px;
  }

  .u-section-2 .u-text-11 {
    width: 660px;
  }

  .u-section-2 .u-text-13 {
    width: 660px;
  }

  .u-section-2 .u-text-15 {
    width: 660px;
  }

  .u-section-2 .u-text-17 {
    width: 660px;
  }

  .u-section-2 .u-text-19 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: 520px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: 520px;
  }

  .u-section-2 .u-text-4 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    width: 520px;
  }

  .u-section-2 .u-text-6 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    width: 520px;
  }

  .u-section-2 .u-text-8 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    width: 520px;
  }

  .u-section-2 .u-text-10 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    width: 520px;
  }

  .u-section-2 .u-text-12 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-13 {
    width: 520px;
  }

  .u-section-2 .u-text-14 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-15 {
    width: 520px;
  }

  .u-section-2 .u-text-16 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-17 {
    width: 520px;
  }

  .u-section-2 .u-text-18 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-19 {
    width: 520px;
  }

  .u-section-2 .u-text-20 {
    width: 520px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    min-height: 543px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-1 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-2 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-3 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-4 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-5 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-10 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-6 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-11 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-7 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-13 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-8 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-8 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-15 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-16 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-9 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-9 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-17 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-18 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-2 .u-container-layout-10 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-10 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-2 .u-text-19 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-20 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }
} .u-section-3 {
  background-color: rgb(2, 120, 0) !important;
  color: white !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ffffff, #a35559);
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 841px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 20px;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 735px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 14px;
}

.u-section-3 .u-image-1 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-2 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-4 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-3 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-6 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-4 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-8 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-5 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-10 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-6 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-12 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-7 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-14 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-8 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-16 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-9 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-18 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 30px 3px;
}

.u-section-3 .u-image-10 {
  height: 273px;
  object-position: 50% 91.68%;
  width: 273px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 130px auto 0;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 814px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-20 {
  width: 649px;
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-3 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 660px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    width: 660px;
  }

  .u-section-3 .u-text-5 {
    width: 660px;
  }

  .u-section-3 .u-text-7 {
    width: 660px;
  }

  .u-section-3 .u-text-9 {
    width: 660px;
  }

  .u-section-3 .u-text-11 {
    width: 660px;
  }

  .u-section-3 .u-text-13 {
    width: 660px;
  }

  .u-section-3 .u-text-15 {
    width: 660px;
  }

  .u-section-3 .u-text-17 {
    width: 660px;
  }

  .u-section-3 .u-text-19 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: 520px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: 520px;
  }

  .u-section-3 .u-text-4 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    width: 520px;
  }

  .u-section-3 .u-text-6 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    width: 520px;
  }

  .u-section-3 .u-text-8 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: 520px;
  }

  .u-section-3 .u-text-10 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    width: 520px;
  }

  .u-section-3 .u-text-12 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-13 {
    width: 520px;
  }

  .u-section-3 .u-text-14 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-15 {
    width: 520px;
  }

  .u-section-3 .u-text-16 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-17 {
    width: 520px;
  }

  .u-section-3 .u-text-18 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-19 {
    width: 520px;
  }

  .u-section-3 .u-text-20 {
    width: 520px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-1 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-2 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-3 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-4 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-5 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-6 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-7 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-13 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-14 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-8 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-16 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-9 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-9 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-17 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-18 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-9 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }

  .u-section-3 .u-container-layout-10 {
    padding: 12px 0;
  }

  .u-section-3 .u-image-10 {
    height: 144px;
    width: 144px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-19 {
    font-size: 0.75rem;
    width: 326px;
    margin-top: 10px;
  }

  .u-section-3 .u-text-20 {
    font-size: 0.625rem;
    width: 295px;
    margin-top: 18px;
  }

  .u-section-3 .u-btn-10 {
    margin-top: 26px;
    padding: 12px 41px 13px 39px;
  }
}