 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(6, 23, 49, 1), rgba(6, 23, 49, 1));
  background-size: cover;
  min-height: 870px;
}

.u-section-1 .u-image-1 {
  width: 965px;
  height: 769px;
  margin: 101px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 850px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 749px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 675px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 574px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 532px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 431px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 372px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 271px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 698px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 4rem;
  width: 405px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 4rem;
  margin: 25px -37px 60px 773px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 573px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.5555555555555554rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.5555555555555554rem;
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: url("images/a39dcdb051836b067f96d393474d6f5c3f8a2531.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 749px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 147px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  min-height: 455px;
  grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(102, 102, 102, 0.5), rgba(102, 102, 102, 0.5));
  background-size: cover;
  --radius: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(102, 102, 102, 0.5), rgba(102, 102, 102, 0.5));
  background-size: cover;
  --radius: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 37px auto 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(102, 102, 102, 0.5), rgba(102, 102, 102, 0.5));
  background-size: cover;
  --radius: 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 37px auto 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(102, 102, 102, 0.5), rgba(102, 102, 102, 0.5));
  background-size: cover;
  --radius: 10px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 37px auto 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(102, 102, 102, 0.5), rgba(102, 102, 102, 0.5));
  background-size: cover;
  --radius: 10px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 37px auto 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(102, 102, 102, 0.5), rgba(102, 102, 102, 0.5));
  background-size: cover;
  --radius: 10px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 85px;
  width: 85px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 663px;
    grid-auto-columns: calc(50% - 9.999975px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}