 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 327px;
  grid-auto-columns: 100%;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-1 .u-image-1 {
  width: 473px;
  height: 300px;
  margin: 14px 106px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -300px 579px 0 50px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 19px 686px 0 50px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-1 .u-image-2 {
  width: 473px;
  height: 300px;
  margin: 14px 106px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -300px 579px 0 50px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 19px 686px 0 50px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-1 .u-image-3 {
  width: 473px;
  height: 300px;
  margin: 14px 106px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -300px 579px 0 50px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 19px 686px 0 50px;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 29px;
}

.u-section-1 .u-image-4 {
  width: 473px;
  height: 300px;
  margin: 14px 106px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -300px 579px 0 50px;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 19px 686px 0 50px;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 29px;
}

.u-section-1 .u-image-5 {
  width: 473px;
  height: 300px;
  margin: 14px 106px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -300px 579px 0 50px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 19px 686px 0 50px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    margin-top: -25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -265px;
    margin-right: 429px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -367px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 429px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -367px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 429px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -367px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 429px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -367px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 429px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 536px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 209px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 209px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 209px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 209px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 209px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 227px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: -517px;
    margin-right: 67px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 174px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
    margin-right: 67px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 174px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
    margin-right: 67px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 174px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.75rem;
    margin-right: 67px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 174px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-10 {
    font-size: 3.75rem;
    margin-right: 67px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 203px;
    margin-top: 180px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: -373px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-top: -203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
    margin-top: -203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 3rem;
    margin-top: -203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 3rem;
    margin-top: -203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }
}